/* HTML RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	position: fixed;
	vertical-align: baseline;
	position: relative;
}

/* RESET FOR OLDER BROWSERS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* SURVEY SURGE STYLES */
html, body {
	background-color: #001522 !important;
}

.surveySurge {
	margin-top: 75px;
	margin-bottom: 75px;
	font-family: 'Press Start 2P';
}

/* INSTRUCTIONAL VIEWS STYLES */
.surveySurge .surgeView {
	display: none;
}

.surveySurge .wrapperDiv {
	border: 1px solid #000;
	border-radius: 8px;
	background-color: #fff;
	padding: 25px 25px 0 25px;
}

.surveySurge .imageWrapper {
	min-height: 220px;
}

.surveySurge .monkeyImg {
	position: absolute;
	bottom: 0;
}

.surveySurge .textWrapper {
	min-height: 170px;
}

.surveySurge .surgeView p {
	line-height: 26px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.surveySurge .buttonWrapper {
	position: absolute;
	bottom: 0;
	right: 0;
}

.surveySurge .viewButton {
	text-transform: uppercase;
	background-color: #349BD2;
	border: 4px solid #1879AD;
	color: #fff;
	padding: 10px 25px;

}

.surveySurge .viewButton:hover {
	background-color: #1D93D1;
}

.surveySurge .viewButton:focus {
	outline: none;
}

/* GAME STYLES */
.surveySurge canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
}

.surveySurge .mobileButtonWrapper {
	text-align: center;
	margin-top: 15px;
}

/* MODAL STYLES */
.surveySurge .modal .modal-body {
	padding: 50px;
	background-color: #fff;
	border-radius: 8px;
}

.surveySurge .modal .completionText {
	text-align: center;
	margin-bottom: 20px;
	margin-bottom: 25px;
}

.surveySurge .modal .modalButtonWrapper {
	text-align: center;
	margin-top: 15px;
}

.surveySurge .modal button {
	width: 450px;
	text-transform: uppercase;
	padding: 10px 25px;
}

.surveySurge .modal .toPortfolioButton {
	background-color: #349BD2;
	border: 3px solid #1879AD;
	color: #fff;
	margin-bottom: 10px;
}

.surveySurge .modal .toPortfolioButton:hover {
	background-color: #1D93D1;
}

.surveySurge .modal .playAgainButton {
	background-color: #efefef;
	border: 3px solid #d3d6d6;
	color: #333;
}

.surveySurge .modal .playAgainButton:hover {
	background-color: #e3e3e3;
}

.surveySurge .modal button:focus {
	outline: none;
}

/* MEDIA QUERIES */
@media (max-width: 1199px) {
	.surveySurge .imageWrapper {
		min-height: 245px;
	}
	.surveySurge .textWrapper {
		min-height: 190px;
	}
}

@media (max-width: 991px) {
	#canvas {
		width: 720px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 767px) {
	.surveySurge {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.surveySurge .mobileNoPadding {
		padding-left: 0;
		padding-right: 0;
	}
	.surveySurge .wrapperDiv {
		margin-left: 15px;
		margin-right: 15px;
	}
	.surveySurge .textWrapper {
		min-height: 0;
	}
	.surveySurge .surgeView p {
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
	}
	.surveySurge .buttonWrapper {
		position: relative;
		text-align: center;
	}
	.surveySurge .imageWrapper {
		min-height: 175px;
	}
	.surveySurge .monkeyImg {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 140px;
	}
	#canvas {
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.surveySurge .modal button {
		width: 100%;
		text-transform: uppercase;
		padding: 10px 25px;
	}
}